*{
  margin: 0;
  padding: 0;
}
.form_logo{
  margin-left: 160px;
  margin-top: 60px;
  display: flex;
}
.form_logo img{
   width: 40%;
 }

.form_logo span{
  color: #999;
  font-size: 26px;
  margin-top: 35px;
}
/*---------  登录  注册  -----------------*/

.mi-nav-tabs{
  margin-top: 72px;
  border-bottom: 1px solid transparent;
  font-size: 28px;
}

.img-title{
  text-align: center;
  padding-top: 72px;
}

.mi-btn-default{
  background-color: #88C5E1;
  border-bottom: 3px solid #54abd4;
}
.mi-btn-default:hover{
  background-color: #88C5E1;
  border-bottom: 3px solid #54abd4;
  color: #fff;
}

label{
  color: #000;
}


.mi-nav-tabs a{
  background-color: transparent;
  position: relative;
}

.mi-nav-tabs a:hover{
  background-color: transparent !important;
  border: 1px solid transparent !important;
}



.mi-nav-tabs a:hover:after{
  content: "";
  display: inline-block;
  height: 3px;
  width: 20px;
  background: #fff;

  position: absolute;

  left: 0;
  bottom: -3px;
  width: 100%;
}

.btn-default {
  font-size: 20px;
}
.mi-nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: transparent;
}



#form-login{
  margin-top: 15px;
}

